<a href="https://colab.research.google.com/github/Akramkhan01/-Book-Recommendation-System/blob/main/Book_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement:**
## **During the last few decades, with the rise of Youtube, Amazon, Netflix, and many other such**
## **web services, recommender systems have taken more and more place in our lives. From e-commerce (suggest to buyers articles that could interest them) to online advertisement**
## **(suggest to users the right contents, matching their preferences), recommender systems are today unavoidable in our daily online journeys.In a very general way, recommender systems are algorithms aimed at suggesting relevant items to users (items being movies to watch, text to read, products to buy, or anything else depending on industries).Recommender systems are really critical in some industries as they can generate a huge amount of income when they are efficient or also be a way to stand out significantly from competitors. The main objective is to create a book recommendation system for users.**
# **Data Information**
## **The Book-Crossing dataset comprises 3 files.**
#● **Users**
## **Contains the users. Note that user IDs (User-ID) have been anonymized and map to integers. Demographic data is provided (Location, Age) if available. Otherwise, these fields contain NULL values.**
#● **Books**
## **Books are identified by their respective ISBN. Invalid ISBNs have already been removed from the dataset. Moreover, some content-based information is given (Book-Title,Book-Author, Year-Of-Publication, Publisher), obtained from Amazon Web Services. Note that in the case of several authors, only the first is provided. URLs linking to cover images are also given, appearing in three different flavors (Image-URL-S,Image-URL-M, Image-URL-L), i.e., small, medium, large. These URLs point to the Amazon website.**
#● **Ratings**
## **Contains the book rating information. Ratings (Book-Rating) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit, expressed by 0.**

In [1]:
#Importing libraries
import pandas as pd
import sys
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import random
# This is to supress the warning messages (if any) generated in our code
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mounting drive with google colab notebook
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Loading data

In [3]:
## loading book data set
books = pd.read_csv('/content/drive/MyDrive/Books Recoomendation System - Akram Khan/data_book_recommendation/Books.csv')

In [4]:
## loading users data set
users = pd.read_csv('/content/drive/MyDrive/Books Recoomendation System - Akram Khan/data_book_recommendation/Users.csv')

In [5]:
## loading Ratings data set
ratings = pd.read_csv('/content/drive/MyDrive/Books Recoomendation System - Akram Khan/data_book_recommendation/Ratings.csv')

# Books Data - Pre Processing

In [6]:
books.shape

(271360, 8)

In [7]:
list(books.columns)

['ISBN',
 'Book-Title',
 'Book-Author',
 'Year-Of-Publication',
 'Publisher',
 'Image-URL-S',
 'Image-URL-M',
 'Image-URL-L']

In [8]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [9]:
books.describe()

              ISBN  ...                                        Image-URL-L
count       271360  ...                                             271357
unique      271360  ...                                             271041
top     0195153448  ...  http://images.amazon.com/images/P/225307649X.0...
freq             1  ...                                                  2

[4 rows x 8 columns]

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [11]:
## Checking for null values
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

there are some nulll values which need to be treated

In [12]:
books.duplicated().any()

False

There are no duplicates

In [13]:
# droping the url columns 
books.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1, inplace=True)
books.head()

         ISBN  ...                   Publisher
0  0195153448  ...     Oxford University Press
1  0002005018  ...       HarperFlamingo Canada
2  0060973129  ...             HarperPerennial
3  0374157065  ...        Farrar Straus Giroux
4  0393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

In [14]:
# finding the null values ni book author
books[books['Book-Author'].isnull()]

              ISBN  ...                       Publisher
187689  9627982032  ...  Edinburgh Financial Publishing

[1 rows x 5 columns]

In [15]:
# finding the null values in publisher
books[books['Publisher'].isnull()]

              ISBN       Book-Title  ... Year-Of-Publication Publisher
128890  193169656X      Tyrant Moon  ...                2002       NaN
129037  1931696993  Finders Keepers  ...                2001       NaN

[2 rows x 5 columns]

In [16]:
# replacing the null values of book author and publisher with unknown
books['Book-Author'].fillna('Unknown',inplace=True)
books['Publisher'].fillna('Unknown',inplace=True)

In [17]:
# Checking for null values
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [18]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271360 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

year of publication should be an integer lets check that

In [19]:
pd.set_option('display.max_colwidth', -1)

In [20]:
# Checking for column Year-of-publication
books['Year-Of-Publication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

has two text values and one two zero and some books that have future date of publication

In [21]:
# finding the books with Year-Of-Publication as 0
books[books['Year-Of-Publication'] == '0']

              ISBN  ...                       Publisher
196656  3442035368  ...  Wilhelm Goldmann Verlag GmbH
196678  0553124803  ...  Bantam Doubleday Dell
196680  888274387X  ...  Sperling Paperback
196685  033368155X  ...  Humanity Press/prometheus Bk
196734  0207158452  ...  Harpercollins Publisher
...            ...  ...                      ...
261929  0760700702  ...  Barnes Noble Inc
261930  0760701962  ...  Barnes Noble Books
261931  0760706379  ...  Barnes Noble
262120  0880292288  ...  Dorset House Publishing Co Inc
262121  088029616X  ...  Dorset House Publishing Co Inc

[1048 rows x 5 columns]

In [24]:
# finding the book record location for which yearOfPublication is  'DK Publishing Inc'
books.loc[books['Year-Of-Publication'] == 'DK Publishing Inc', :]

              ISBN  ...                                                     Publisher
209538  078946697X  ...  http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg
221678  0789466953  ...  http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg

[2 rows x 5 columns]

In [25]:
# finding the books with Year-Of-Publication as Gallimard
books[books['Year-Of-Publication'] == 'Gallimard']

              ISBN  ...                                                     Publisher
220731  2070426769  ...  http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg

[1 rows x 5 columns]

#From above, it is seen that bookAuthor is incorrectly loaded with bookTitle, hence making required corrections

In [26]:
# finding the book title of the following publisher
list(books[(books['Year-Of-Publication'] == 'DK Publishing Inc')|( books['Year-Of-Publication'] == 'Gallimard')]['Book-Title'])

['DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)\\";Michael Teitelbaum"',
 'Peuple du ciel, suivi de \'Les Bergers\\";Jean-Marie Gustave Le ClÃ?Â©zio"',
 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)\\";James Buckley"']

In [27]:
# replacing all suspicios data to relavent data 
books.at[209538 ,'Publisher'] = 'DK Publishing Inc'
books.at[209538 ,'Year-Of-Publication'] = 2000
books.at[209538 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'
books.at[209538 ,'Book-Author'] = 'Michael Teitelbaum'

books.at[221678 ,'Publisher'] = 'DK Publishing Inc'
books.at[221678 ,'Year-Of-Publication'] = 2000
books.at[209538 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How Comic Boofksf Come to Life (Level 4: Proficient Readers)'
books.at[209538 ,'Book-Author'] = 'James Buckley'

books.at[220731 ,'Publisher'] = 'Gallimard'
books.at[220731 ,'Year-Of-Publication'] = 2003
books.at[209538 ,'Book-Title'] = 'Peuple du ciel - Suivi de Les bergers '
books.at[209538 ,'Book-Author'] = 'Jean-Marie Gustave Le ClÃ?Â©zio'

In [28]:
# converting the data type
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

In [29]:
from datetime import date
# finding the current year
current_year = date.today().year
print(current_year)

2022

In [30]:
# finding books with date of publication greater than current date 
books.loc[(books['Year-Of-Publication'] > current_year)]

              ISBN  ...                                   Publisher
37487   0671746103  ...  Aladdin
55676   0671791990  ...  Aladdin
78168   0870449842  ...  National Geographic
80264   0140301690  ...  Puffin Books
97826   0140201092  ...  Penguin USA
116053  0394701658  ...  Vintage Books USA
118294  3442436893  ...  Goldmann
192993  0870446924  ...  National Geographic
228173  0671266500  ...  Simon &amp; Schuster
240169  0684718022  ...  Collier Books
246842  0380000059  ...  Avon
255409  068471809X  ...  Simon &amp; Schuster
260974  0671740989  ...  Simon &amp; Schuster Children's Publishing

[13 rows x 5 columns]

In [31]:
# replacing year of publication 0 and greater than 2021 to mean of the data set 
books.loc[(books['Year-Of-Publication'] > 2021) | (books['Year-Of-Publication'] == 0),'Year-Of-Publication'] = np.nan
books.fillna(round(books['Year-Of-Publication'].mean()),inplace=True)

In [32]:
# Checking for column Year-of-publication
books['Year-Of-Publication'].describe()

count    271360.000000
mean     1993.693241
std      8.249980
min      1376.000000
25%      1989.000000
50%      1995.000000
75%      2000.000000
max      2021.000000
Name: Year-Of-Publication, dtype: float64

In [33]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  float64
 4   Publisher            271360 non-null  object
dtypes: float64(1), object(4)
memory usage: 10.4+ MB